<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{front-end-template.html}">
<head>
<title>حسابي</title>
<style>

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}
</style>
</head>
<body>
	<div layout:fragment="content">

		<!-- Start Page Banner -->
		<div class="page-banner-area item-bg-2">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="container">
						<div class="page-banner-content">
							<h2>حسابي</h2>

							<ul class="pages-list">
								<li><a th:href="@{/home}">الرئيسية</a></li>
								<li><span>حسابي</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Page Banner -->

		<!-- Start Dashboard Area -->
		<div class="dashboard-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-12">
						<div class="dashboard-profile">
							<div class="profile-box">
								<div class="profile-icon">

									<div th:if="${isphoto == null}" class="profile-icon">
										<a href="#"> <i class='bx bxs-user'></i>
										</a>
									</div>

									<div th:unless="${isphoto == null}">
										<a target="_blank" th:href="@{${photo}}"> <img
											th:src="@{${photo}}" />
										</a>
									</div>

								</div>
							</div>

							<div class="profile-info">
								<ul class="info-list">
									<li><a th:href="@{/post-vehicle}">اعرض سيارتك للبيع</a></li>
									<li><a href="favorites.html">المفضلة</a></li>
									<li><a th:href="@{/account-details}" class="active">حسابي</a>
									</li>
									<li><a href="messages.html">الرسائل</a></li>
									<li><a th:href="@{/user-social}">وسائل التواصل
											الاجتماعي</a></li>
									<li><a th:href="@{/change-password}">تحديث كلمة المرور</a></li>
									<li><a th:href="@{/logout}">تسجيل الخروج</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-9 col-md-12">
						<div class="dashboard-title">
							<h3>حسابي</h3>
						</div>

						<div class="dashboard-form">
							<form method="post" th:action="@{/update-photo}"
								enctype="multipart/form-data">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="form-group">
											<div th:if="${error_image}">
												<label th:text="${error_image}"></label>
											</div>
											<label>تحديث صورة الملف الشخصي</label>

											<div class="col-lg-6 col-md-6">
												<div class="form-group">
													<input type="file" class="form-control-file"
														name="user_photo"
														accept="image/png, image/jpeg, image/jpg">
												</div>
											</div>
											<button type="submit" class="default-btn">تحديث صورة
												الملف الشخصي</button>

										</div>
									</div>

								</div>
							</form>
							<br> <br>

							<form th:action="@{/account-update}" method="post">
								<div class="row">

									<div th:if="${error}">
										<th:block th:each="e : ${error}">
											<label class="alert danger" th:text="${e.defaultMessage}"></label>
											<br>
										</th:block>
									</div>

									<div th:if="${!userdetails.isEmailVerified}">
										
											 <a th:href="@{/resend-verify-email}">تاكيد البريد
													الالكتروني</a>
										
									</div>
									<br> <br>

									<div class="col-lg-6 col-md-6">
										<div class="form-group">
											<label>اسم المستخدم</label> <input name="fullname"
												th:value="${userdetails.fullname}" type="text"
												class="form-control">
										</div>
									</div>

									<div class="col-lg-6 col-md-6">
										<div class="form-group">
											<label>البريد الالكتروني</label> <input type="text"
												th:value="${userdetails.email}" name="email"
												class="form-control">
										</div>
									</div>

									<div class="col-lg-6 col-md-6">
										<div class="form-group">
											<label>رقم الهاتف المحمول</label> <input type="text"
												name="phone" th:value="${userdetails.phone}"
												class="form-control">
										</div>
									</div>

									<div class="col-lg-6 col-md-6">
										<div class="form-group">
											<label>العنوان الكامل</label> <input type="text"
												name="address" th:value="${userdetails.address}"
												class="form-control">
										</div>
									</div>


									<div class="col-lg-6 col-md-12">
										<label for="city">المدينة</label>
										<div class="form-group">
											<select id="city" name="city">
												<th:block th:each="city : ${cities}">
													<option th:value="${city.id}" th:text="${city.name}"
														th:selected="${userdetails.city.id == city.id}"></option>
												</th:block>
											</select>
										</div>
									</div>

									<div class="col-lg-6 col-md-12">
										<label for="sellerTypeEntity">نوع التاجر</label>
										<div class="form-group">
											<select id="sellerTypeEntity" name="sellerTypeEntity">
												<th:block th:each="type : ${types}">
													<option th:value="${type.id}" th:text="${type.name}"
														th:selected="${userdetails.sellerTypeEntity.id == type.id}"></option>
												</th:block>
											</select>
										</div>
									</div>

								</div>

								<button type="submit" class="default-btn">
									تحديث بيانات الحساب <span></span>
								</button>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Start Dashboard Area -->

</body>
</html>