<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{front-end-template.html}">

<head>
	<title>ArabiMotor - Home</title>
</head>

<body>
	<div layout:fragment="content">

        <!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>معرض السيارات</h2>

                            <ul class="pages-list">
                                <li><a th:href="@{/home}">الرئيسية</a></li>
                                <li><span>جميع السيارات</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->
       
        <!-- Start Car Shop Area -->
        <div class="car-shop-area ptb-100">
            <div class="container">
                <div class="car-shop-filter-options">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-6">
                            <p th:text="${' عدد النتائج ' + vehicles.size()}"></p>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="car-shop-ordering-list">
                          <form th:action="@{/all-vehicles}" method="get" id="form">
                                <select th:name="sort" onchange="this.form.submit()">
                                     <option th:value="1" th:selected="${select_sort == 1}">تصنيف بحسب الاعلى سعر</option>
                                     <option th:value="2" th:selected="${select_sort == 2}">تصنيف بحسب الاقل سعر</option>
                                     <option th:value="3" th:selected="${select_sort == 3}">تصنيف بحسب المضاف حديثا</option>
                                </select>
                          </form>
                               
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="row">
                
					<th:block th:each="v : ${vehicles}">
					
                    <div class="col-lg-4 col-md-6">
                        <div class="single-car-shop-box">
                            <div class="image">
                                <a th:href="@{/vehicle-details/}+${v.id}"><img th:src="@{${v.main_image}}" alt="image"></a>
                                
                                <div class="icon">
                                    <a href="car-details.html">
                                        <i class="flaticon-gallery" th:text="${v.vehicleImagesEntity.size()}">...</i>
                                    </a>
                                </div>
                            </div>

                            <div class="content">
                                <div class="tag" th:text="${v.price}">...</div>
                                <h3>
                                    <a th:href="@{/vehicle-details/}+${v.id}" th:text="${v.ad_title}">...</a>
                                </h3>
                                <p th:text="${#dates.format(v.createdDate,'aa HH:mm, yyyy/MM/dd')}">...</p>
                            </div>
                        </div>
                    </div>

                    </th:block>
        
        <!--  on hold 
                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a href="#" class="prev page-numbers">
                                <i class='flaticon-left-arrow'></i>
                            </a>
                            <span class="page-numbers current" aria-current="page">1</span>
                            <a href="#" class="page-numbers">2</a>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="next page-numbers">
                                <i class='flaticon-right-arrow'></i>
                            </a>
                        </div>
                    </div>
                     -->
                </div>
            </div>
        </div>
        <!-- Start Car Shop Area -->
</div>
    </body>

</html>