<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front-end-template.html}">

<head>
    <title>ArabiMotor - Home</title>
</head>

<body>
<div layout:fragment="content">

<!-- Start Page Banner -->
        <div class="page-banner-area item-bg-4">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>مجلة عربي موتورز</h2>
                            <ul class="pages-list">
                                <li><a th:href="@{/home}">الرئيسية</a></li>
                                <li><span>مجلة عربي موتورز</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->
     
        <!-- Start Blog Area -->
        <section class="blog-area bg-ffffff pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <th:block th:each="b : ${blog}">
                            <div class="single-blog">
                                <a href="blog-details.html"><img th:src="${b.image}" alt="image"></a>
                                <div class="blog-content">
                                    <div class="tag" th:text="${b.tag}">...</div>
                                    <h3>
                                        <a th:href="@{magazine?id=}+${b.id}" th:text="${b.title}">...</a>
                                    </h3>
                                    <ul class="post-meta">
                                        <li>
                                            <i class="flaticon-user"></i>
                                            <a href="#" th:text="${b.authorName}">...</a>
                                        </li>
                                        <li th:text="${#dates.format(b.createdDate,'aa HH:mm, yyyy/MM/dd')}">
                                            <i class="flaticon-calendar"></i>...
                                        </li>
                                    </ul>
                                    <p th:text="${b.content.substring(0,100)}">...</p>
                                    <div class="blog-btn">
                                        <a th:href="@{/magazine?id=}+${b.id}" class="default-btn">
                                            اقراء المزيد
                                            <span></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <aside class="widget-area">
                            <div class="widget widget_search">
                                <form class="search-form">
                                    <label>
                                        <span class="screen-reader-text">Search for:</span>
                                        <input type="search" class="search-field" placeholder="Search...">
                                    </label>
                                    <button type="submit">
                                        <i class='bx bx-search-alt'></i>
                                    </button>
                                </form>
                            </div>
                            <div class="widget widget_tag_cloud">
                                <h3 class="widget-title">Popular tags</h3>
                                <div class="tagcloud">
                                    <a href="#">Auto</a>
                                    <a href="#">Cars</a>
                                    <a href="#">Sedan</a>
                                    <a href="#">Premium</a>
                                    <a href="#">Luxury</a>
                                    <a href="#">Sport</a>
                                    <a href="#">Suvs</a>
                                    <a href="#">Pickups</a>
                                </div>
                            </div>

                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Area -->
     </div>
    </body>
</html>