<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{front-end-template.html}">

<head>
	<title>ArabiMotor - Home</title>
</head>

<body>
	<div layout:fragment="content">
		<!-- Start Page Banner -->
		<div class="page-banner-area">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="container">
						<div class="page-banner-content">
							<h2>تفاصيل السيارة</h2>

							<ul class="pages-list">
								<li><a th:href="@{/home}">الرئيسية</a></li>
								<li><span>تفاصيل السيارة</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Page Banner -->

		<!-- Start Car Details Area -->
		<section class="car-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12">
						<div class="car-details-gallery">
							<div class="car-details-main">
							
							<th:block th:each="img : ${images}">
								<div class="item">
									<img th:src="${img}" alt="image">
								</div>
							</th:block>
							
							</div>

							<div class="car-details-preview">
							<th:block th:each="img : ${images}">
								<div class="item">
									<img th:src="${img}" alt="image">
								</div>
							</th:block>
							</div>
						</div>

						<div class="car-details-desc">
							<div class="desc-content">
								<div class="tag" th:text="${vehicle.price}">...</div>
								<h3>2020 TESLA MODEL SXP-502D</h3>
							</div>

							<div class="desc-information">
								<h3>بيانات السيارة</h3>

								<ul class="info-list">
								   
									<li>حالة السيارة</li>
									<li><span th:text="${vehicle.vehicle_type.conditionName}"></span></li>
								   
									<li>الممشى (كم)</li>
									<li><span th:text="${vehicle.mileage}">...</span></li>

									<li>نوع الشكل</li>
									<li><span th:text="${vehicle.bodyTypeEntity.name}"></span></li>

									<li>نوع الوقود</li>
									<li><span th:text="${vehicle.fuelTypeEntity.name}"></span></li>

									<li>الماركة</li>
									<li><span th:text="${vehicle.vehicleModelsEntity.name}"></span></li>

									<li> سعة المحرك</li>
									<li><span th:text="${vehicle.engineCapicityEntity.name}"></span></li>

									<li>سنة الموديل</li>
									<li><span th:text=${vehicle.yearsEntities.name}></span></li>

									<li>نوع القير</li>
									<li><span th:text="${vehicle.gearTypeEntity.name}">: Red</span></li>

									<li>المنطقة</li>
									<li><span th:text="${vehicle.cityEntity.name}"></span></li>

								</ul>
							</div>

							<div class="desc-features">
								<h3>ميزات السيارة</h3>

								<ul class="info-list">
						         <th:block th:each="feature : ${features}">
									<li th:text="${feature}"><i class="flaticon-tick"></i>.</li>
								   </th:block>
								</ul>
							</div>

							<div class="desc-notes">
								<h3>ملاحظات البائع</h3>
								<p th:text="${vehicle.description}"></p>
							</div>

							<div class="desc-share">
								<h3>SHARE THIS LISTING:</h3>

								<div class="share-list">
									<a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
									<a href="#" target="_blank"><i class='bx bx-camera'></i></a>
									<a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
									<a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
								</div>
							</div>

							<div class="desc-seller-info">
								<h3>بيانات البائع</h3>

								<div class="info-list">
									<h4 th:text="${vehicle.userEntity.fullname}">...</h4>
									<p th:text="${vehicle.userEntity.address}"></p>
								</div>

								<div class="info-list">
									<h4>البريد الالكتروني</h4>
									<a href="mailto:mund@gamil.com" th:text="${vehicle.userEntity.email}"></a>
								</div>

								<div class="info-list">
									<h4>رقم الهاتف المحمول</h4>
									<a href="tel:815-249-4756" th:text="${vehicle.userEntity.phone}">...</a>
								</div>

								
							</div>

							
						</div>
					</div>

					<div class="col-lg-4 col-md-12">
						<div class="car-details-contact">
							<h3>EMAIL SELLER</h3>

							<form>
								<div class="form-group">
									<label>Your Name</label>
									<input type="text" class="form-control">
								</div>

								<div class="form-group">
									<label>Your Email</label>
									<input type="text" class="form-control">
								</div>

								<div class="form-group">
									<label>Your Phone</label>
									<input type="text" class="form-control">
								</div>

								<div class="form-group">
									<label>Zip Code</label>
									<input type="text" class="form-control">
								</div>

								<div class="form-group">
									<label>Your Message</label>
									<textarea name="message" class="form-control"></textarea>
								</div>

								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="checkme">

									<label class="form-check-label" for="checkme">Send me price drop & new listing
										alerts via email.</label>
								</div>

								<button type="submit" class="default-btn">
									Send Email
									<span></span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Start Car Details Area -->
	</div>
</body>

</html>