<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{front-end-template.html}">

<head>
<title>ArabiMotor - Home</title>
</head>

<body>
	<div layout:fragment="content">
		<!-- Start Page Banner -->
		<div class="page-banner-area">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="container">
						<div class="page-banner-content">
							<h2>تفاصيل السيارة</h2>
							<ul class="pages-list">
								<li><a th:href="@{/home}">الرئيسية</a></li>
								<li><span>تفاصيل السيارة</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Page Banner -->

		<!-- Start Car Details Area -->
		<section class="car-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12">
						<div class="car-details-gallery">
							<div class="car-details-main">

								<th:block th:each="img : ${images}">
									<div class="item">
										<img th:src="${img}" alt="image">
									</div>
								</th:block>

							</div>

							<div class="car-details-preview">
								<th:block th:each="img : ${images}">
									<div class="item">
										<img th:src="${img}" alt="image">
									</div>
								</th:block>
							</div>
						</div>

						<div class="car-details-desc">
							<div class="desc-content">
								<div class="tag" th:text="${vehicle.price}">...</div>
								<h3 th:text="${vehicle.ad_title}}"></h3>
							</div>

							<div class="desc-information">
								<h3>بيانات السيارة</h3>

								<ul class="info-list">

									<li>حالة السيارة</li>
									<li><span th:text="${vehicle.vehicle_type.conditionName}"></span></li>

									<li>الممشى (كم)</li>
									<li><span th:text="${vehicle.mileage}">...</span></li>

									<li>نوع الشكل</li>
									<li><span th:text="${vehicle.bodyTypeEntity.name}"></span></li>

									<li>نوع الوقود</li>
									<li><span th:text="${vehicle.fuelTypeEntity.name}"></span></li>

									<li>الماركة</li>
									<li><span th:text="${vehicle.vehicleModelsEntity.name}"></span></li>

									<li> سعة المحرك</li>
									<li><span th:text="${vehicle.engineCapicityEntity.name}"></span></li>

									<li>سنة الموديل</li>
									<li><span th:text=${vehicle.yearsEntities.name}></span></li>

									<li>نوع القير</li>
									<li><span th:text="${vehicle.gearTypeEntity.name}">:Red</span></li>

									<li>المنطقة</li>
									<li><span th:text="${vehicle.cityEntity.name}"></span></li>

									<li>اصل السيارة</li>
									<li><span th:text="${vehicle.originalCar}"></span></li>
									<li>رخصة السيارة</li>
									<li><span th:text="${vehicle.drivingLicence}"></span></li>
									<li>الزجاج</li>
									<li><span th:text="${vehicle.glass}"></span></li>
									<li>وسيلة الدفع</li>
									<li><span th:text="${vehicle.paymentMethod}"></span></li>

								</ul>
							</div>

							<div class="desc-features">
								<h3>ميزات السيارة</h3>

								<ul class="info-list">
						
									<th:block th:each="feature : ${features}">
										<li> <i  class="flaticon-tick"></i>
										<label th:text="${feature}"></label></li>
									</th:block>
								</ul>
							</div>

							<div class="desc-notes">
								<h3>ملاحظات البائع</h3>
								<p th:text="${vehicle.description}"></p>
							</div>

							<div class="desc-share">
								<h3>وسائل تواصل الاجتماعي للبائع</h3>

								<div class="share-list">
									<a th:href="${social.facebook_link}" target="_blank"><i class='bx bxl-facebook'></i></a>
									<a th:href="${social.instagram_link}" target="_blank"><i class='bx bx-camera'></i></a> <a
										th:href="${social.twitter_link}" target="_blank"><i class='bx bxl-twitter'></i></a> <a
										th:href="${social.linkedin_link}" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
								</div>
								<br>
								<a th:href="@{/user-profile?id=}+${vehicle.userEntity.id}"><b>تفاصيل البائع</b></a>

							</div>

							<div class="desc-seller-info">
								<h3>بيانات البائع</h3>

								<div class="info-list">
									<h4 th:text="${vehicle.userEntity.fullname}">...</h4>
									<p th:text="${vehicle.userEntity.address}"></p>
								</div>

								<div class="info-list">
									<h4>البريد الالكتروني</h4>
									<a href="mailto:mund@gamil.com"
										th:text="${vehicle.userEntity.email}"></a>
								</div>

								<div class="info-list">
									<h4>رقم الهاتف المحمول</h4>
									<a href="tel:815-249-4756"
										th:text="${vehicle.userEntity.phone}">...</a>
								</div>


							</div>


						</div>
					</div>

					<div class="col-lg-4 col-md-12">
						<div class="car-details-contact">
							<h3>مراسلة البائع</h3>
							<div th:if="${error}">
								<th:block th:each="e : ${error}">
									<label class="alert danger" th:text="${e.defaultMessage}"></label>
									<br>
								</th:block>
							</div>
							<form th:action="@{/vehicle-details/}+${vehicle.id}"
								method="post">
								<div class="form-group">
									<label>الاسم الكامل</label> <input type="text"
										name="customerName" class="form-control">

								</div>

								<div class="form-group">
									<label>بريد الالكتروني</label> <input name="customerEmail"
										type="text" class="form-control">

								</div>

								<div class="form-group">
									<label>رقم الهاتف المحمول</label> <input name="customerPhone"
										type="text" class="form-control">

								</div>

								<div class="form-group">
									<label>الرسالة</label>
									<textarea name="customerMsg" class="form-control"></textarea>

								</div>

								<input type="hidden" name="vehiclesEntity"
									th:value="${vehicle.id}" />

								<button type="submit" class="default-btn">
									ارسال <span></span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Start Car Details Area -->
	</div>
</body>

</html>