<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{front-end-template.html}">
<head>
<title>ArabiMotor - Home</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- Start Main Banner Area -->
		<div class="main-banner-with-category">
			<div class="main-banner-item">
				<div class="container">
					<div class="main-banner-content">
						<h1>ابحث عن السيارة المناسبة</h1>

						<div class="tab banner-category-list-tab">
							<ul class="tabs">
								<li><a href="#">سيارات جديدة</a></li>
								<li><a href="#">سيارات مستعملة</a></li>
							</ul>

							<div class="tab_content">
								<div class="tabs_item">
									<form th:action="@{/all-vehicles}" method="post">
										<div class="row">
										<input type="hidden" value="1" name="conditionType"/>
											<div class="col-lg-4 col-md-6">
												<div class="form-group">
													<select name="year">
														<option value="0">السنة</option>
														<th:block th:each="year : ${years}">
															<option th:value="${year.id}" th:text="${year.name}"></option>
														</th:block>
													</select>
												</div>
											</div>

											<div class="col-lg-4 col-md-6">
												<div class="form-group">
													<select name="model">
														<option value="0">الموديل</option>
														<th:block th:each="model : ${models}">
															<option th:value="${model.id}" th:text="${model.name}"></option>
														</th:block>
													</select>
												</div>
											</div>

											<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
												<div class="form-group">
													<select name="price">
														<option value="0">أقصى سعر</option>
														<th:block th:each="price : ${prices}">
															<option th:value="${price.name}" th:text="${price.name}"></option>
														</th:block>
													</select>
												</div>
											</div>
										</div>

										<div class="main-search-btn">
											<button type="submit">
												<i class='bx bx-search-alt'></i>
											</button>
										</div>
									</form>
								</div>

								<div class="tabs_item">
									<form th:action="@{/all-vehicles}" method="post">
										<div class="row">
										
											<input type="hidden" value="2" name="conditionType"/>
										
											<div class="col-lg-4 col-md-6">
												<div class="form-group">
													<select name="year">
														<option value="0">السنة</option>
														<th:block th:each="year : ${years}">
															<option th:value="${year.id}" th:text="${year.name}"></option>
														</th:block>
													</select>
												</div>
											</div>

											<div class="col-lg-4 col-md-6">
												<div class="form-group">
													<select name="model">
														<option value="0">الموديل</option>
														<th:block th:each="model : ${models}">
															<option th:value="${model.id}" th:text="${model.name}"></option>
														</th:block>
													</select>
												</div>
											</div>

											<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
												<div class="form-group">
													<select name="price">
														<option value="0">أقصى سعر</option>
														<th:block th:each="price : ${prices}">
															<option th:value="${price.name}" th:text="${price.name}"></option>
														</th:block>
													</select>
												</div>
											</div>
										</div>

										<div class="main-search-btn">
											<button type="submit">
												<i class='bx bx-search-alt'></i>
											</button>
										</div>
									</form>
								</div>

								<div class="advanced-search">
									<a th:href="@{/advanced-search}">بحث متقدم</a>
								</div>
							</div>
						</div>

						<div class="banner-category-list">
							<th:block th:each="type : ${body_types}">
								<div class="list">
									<div class="icon">
										<a th:href="@{/body-types?id=}+${type.id}">
										<i th:class="${type.image}"></i>
										</a>
									</div>
									<h3>
										<a href="" th:text="${type.name}">...</a>
									</h3>
								</div>
							</th:block>


						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Main Banner Area -->

		<!-- Start Car Ranking Area -->
		<section class="car-ranking-area bg-ffffff pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<h2>أفضل تصنيفات السيارات</h2>
					<p>انظر إلى أفضل السيارات في التصنيف</p>

					<div class="section-btn">
						<a th:href="@{/all-vehicles}" class="default-btn"> عرض جميع السيارات <span></span>
						</a>
					</div>
				</div>

				<div class="row">
					<th:block th:each="vbr : ${vehicles_best_ranking}">
						<div class="col-lg-3 col-sm-6">
							<div class="single-car-ranking">

								<div class="car-ranking-image">
									<a th:href="@{/vehicle-details/}+${vbr.id}"><img
										th:src="@{${vbr.main_image}}" alt="image"></a>
									<div class="icon">
										<a th:href="@{/vehicle-details/}+${vbr.id}"> <i
											class="flaticon-gallery"
											th:text="${vbr.vehicleImagesEntity.size()}"></i>
										</a>
									</div>
								</div>

								<div class="car-ranking-content">
									<div class="tag" th:text="${vbr.price} + ₪"></div>
									<h3>
										<a th:href="@{/vehicle-details/}+${vbr.id}"
											th:text="${vbr.ad_title}">...</a>
									</h3>
									<p>
										<b
											th:text="${#dates.format(vbr.createdDate,'aa HH:mm, yyyy/MM/dd')}"></b>
										<label>,</label> <label th:text="${vbr.cityEntity.name}"></label>
										<label>,</label> <label
											th:text="${vbr.vehicle_type.conditionName}">...</label>
									</p>
								</div>

							</div>
						</div>
					</th:block>

				</div>
			</div>
		</section>
		<!-- End Car Ranking Area -->

		<!-- Start Featured Cars Area -->
		<section class="featured-cars-area bg-161c2d pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<h2>سيارات مميزة</h2>
					<p>اعثر على أفضل سيارة من اختيارك</p>
				</div>

				<div class="row">
					<div class="col-lg-3 col-md-6 offset-lg-0 offset-md-3">
						<div class="single-featured-cars-box">
							<div class="box-image">
								<a th:href="@{/vehicle-details/}+${feature_vehicles.get(0).id}"><img
									th:src="@{${feature_vehicles.get(0).main_image}}" alt="image"></a>

								<div class="icon">
									<a th:href="@{/vehicle-details/}+${feature_vehicles.get(0).id}">
										<i class="flaticon-gallery"
										th:text="${feature_vehicles.get(0).vehicleImagesEntity.size()}">....</i>
									</a>
								</div>
							</div>

							<div class="box-content">
								<div class="tag" th:text="${feature_vehicles.get(0).price}+₪">...</div>
								<h3>
									<a th:href="@{/vehicle-details/}+${feature_vehicles.get(0).id}"
										th:text="${feature_vehicles.get(0).ad_title}">...</a>
								</h3>
								<p>
									<b
										th:text="${#dates.format(feature_vehicles.get(0).createdDate,'aa HH:mm, yyyy/MM/dd')}"></b>
									<label>,</label> <label
										th:text="${feature_vehicles.get(0).cityEntity.name}"></label>
									<label>,</label> <label
										th:text="${feature_vehicles.get(0).vehicle_type.conditionName}">...</label>
								</p>
							</div>
						</div>

						<div class="single-featured-cars-box">
							<div class="box-image">
								<a th:href="@{/vehicle-details/}+${feature_vehicles.get(1).id}"><img
									th:src="@{${feature_vehicles.get(1).main_image}}" alt="image"></a>

								<div class="icon">
									<a th:href="@{/vehicle-details/}+${feature_vehicles.get(1).id}">
										<i class="flaticon-gallery"
										th:text="${feature_vehicles.get(1).vehicleImagesEntity.size()}">....</i>
									</a>
								</div>
							</div>

							<div class="box-content">
								<div class="tag" th:text="${feature_vehicles.get(1).price}+₪">...</div>
								<h3>
									<a th:href="@{/vehicle-details/}+${feature_vehicles.get(1).id}"
										th:text="${feature_vehicles.get(1).ad_title}">...</a>
								</h3>
								<p>
									<b
										th:text="${#dates.format(feature_vehicles.get(1).createdDate,'aa HH:mm, yyyy/MM/dd')}"></b>
									<label>,</label> <label
										th:text="${feature_vehicles.get(1).cityEntity.name}"></label>
									<label>,</label> <label
										th:text="${feature_vehicles.get(1).vehicle_type.conditionName}">...</label>
								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="single-featured-cars-box">
							<div class="box-image">
								<a th:href="@{/vehicle-details/}+${feature_vehicles.get(2).id}"><img
									th:src="@{${feature_vehicles.get(2).main_image}}" alt="image"></a>

								<div class="icon">
									<a th:href="@{/vehicle-details/}+${feature_vehicles.get(2).id}">
										<i class="flaticon-gallery"
										th:text="${feature_vehicles.get(2).vehicleImagesEntity.size()}">....</i>
									</a>
								</div>
							</div>

							<div class="box-content">
								<div class="tag" th:text="${feature_vehicles.get(2).price}+₪">...</div>
								<h3>
									<a th:href="@{/vehicle-details/}+${feature_vehicles.get(2).id}"
										th:text="${feature_vehicles.get(2).ad_title}">...</a>
								</h3>
								<p>
									<b
										th:text="${#dates.format(feature_vehicles.get(2).createdDate,'aa HH:mm, yyyy/MM/dd')}"></b>
									<label>,</label> <label
										th:text="${feature_vehicles.get(2).cityEntity.name}"></label>
									<label>,</label> <label
										th:text="${feature_vehicles.get(2).vehicle_type.conditionName}">...</label>
								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 offset-lg-0 offset-md-3">
						<div class="single-featured-cars-box">
							<div class="box-image">
								<a th:href="@{/vehicle-details/}+${feature_vehicles.get(3).id}"><img
									th:src="@{${feature_vehicles.get(3).main_image}}" alt="image"></a>

								<div class="icon">
									<a href="car-details.html"> <i class="flaticon-gallery"
										th:text="${feature_vehicles.get(3).vehicleImagesEntity.size()}">....</i>
									</a>
								</div>
							</div>

							<div class="box-content">
								<div class="tag" th:text="${feature_vehicles.get(3).price}+₪">...</div>
								<h3>
									<a th:href="@{/vehicle-details/}+${feature_vehicles.get(1).id}"
										th:text="${feature_vehicles.get(3).ad_title}">...</a>
								</h3>
								<p>
									<b
										th:text="${#dates.format(feature_vehicles.get(3).createdDate,'aa HH:mm, yyyy/MM/dd')}"></b>
									<label>,</label> <label
										th:text="${feature_vehicles.get(3).cityEntity.name}"></label>
									<label>,</label> <label
										th:text="${feature_vehicles.get(3).vehicle_type.conditionName}">...</label>
								</p>
							</div>
						</div>

						<div class="single-featured-cars-box">
							<div class="box-image">
								<a th:href="@{/vehicle-details/}+${feature_vehicles.get(4).id}"><img
									th:src="@{${feature_vehicles.get(4).main_image}}" alt="image"></a>

								<div class="icon">
									<a th:href="@{/vehicle-details/}+${feature_vehicles.get(4).id}">
										<i class="flaticon-gallery"
										th:text="${feature_vehicles.get(4).vehicleImagesEntity.size()}">....</i>
									</a>
								</div>
							</div>

							<div class="box-content">
								<div class="tag" th:text="${feature_vehicles.get(4).price}+₪">...</div>
								<h3>
									<a th:href="@{/vehicle-details/}+${feature_vehicles.get(4).id}"
										th:text="${feature_vehicles.get(4).ad_title}">...</a>
								</h3>
								<p>
									<b
										th:text="${#dates.format(feature_vehicles.get(4).createdDate,'aa HH:mm, yyyy/MM/dd')}"></b>
									<label>,</label> <label
										th:text="${feature_vehicles.get(4).cityEntity.name}"></label>
									<label>,</label> <label
										th:text="${feature_vehicles.get(4).vehicle_type.conditionName}">...</label>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Featured Cars Area -->

		<!-- Start Models Area -->
		<section class="models-area pt-100">
			<div class="container">
				<div class="models-slides owl-carousel owl-theme">
					<th:block th:each="most_popular_vehicle : ${most_popular_vehicles}">
						<div class="models-box-item">
							<div class="row">
								<div class="col-lg-8">
									<img class="models-image four" th:src="@{${feature_vehicles.get(3).main_image}}"></img>
								</div>

								<div class="col-lg-4">
									<div class="models-title">
										<h3>الموديلات الأكثر رواجًا</h3>
									</div>
									<div class="models-item">
										<div class="models-content">
											<h3>معلومات السيارة</h3>
											<div class="tag" th:text="${most_popular_vehicle.price}+₪">...</div>
											<div>
				                            <a th:href="@{/vehicle-details/}+${most_popular_vehicle.id}">	
											 <h4 th:text="${most_popular_vehicle.ad_title}">...</h4>
											</a></div>
										</div>

										<ul class="models-list">
											<li>الممشى (كم)</li>
											<li><span th:text="${most_popular_vehicle.mileage}">:
											</span></li>

											<li>نوع الشكل</li>
											<li><span
												th:text="${most_popular_vehicle.bodyTypeEntity.name}">...</span></li>

											<li>نوع الوقود</li>
											<li><span
												th:text="${most_popular_vehicle.fuelTypeEntity.name}">...</span></li>

											<li>الماركة</li>
											<li><span
												th:text="${most_popular_vehicle.vehicleModelsEntity.name}">...</span></li>

											<li>سعة المحرك</li>
											<li><span
												th:text="${most_popular_vehicle.engineCapicityEntity.name}">...</span></li>

											<li>سنة الموديل</li>
											<li><span
												th:text="${most_popular_vehicle.yearsEntities.name}">...</span></li>

											<li>نوع القير</li>
											<li><span
												th:text="${most_popular_vehicle.gearTypeEntity.name}">...</span></li>

											<li>المنطقة</li>
											<li><span
												th:text="${most_popular_vehicle.cityEntity.name}">...</span></li>

											<li>حالة السيارة</li>
											<li><span
												th:text="${most_popular_vehicle.vehicle_type.conditionName}"></span></li>

										</ul>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</section>
		<!-- End Models Area -->

		<!-- Start Choose Area -->
		<section class="choose-area ptb-100">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7">
						<div class="choose-item">
							<div class="content">
								<h3>لماذا اخترت عربي موتورز</h3>
								<p>هناك اسباب كثيرة تجعلك تحب عربي موتورز</p>
							</div>

							<div class="choose-inner-content">
								<div class="icon">
									<i class="flaticon-handshake"></i>
								</div>
								<h4>دفع ثمن سيارتك الجديدة
								</h4>
								<p>الشيء الوحيد الذي ستحتاجه بالتأكيد لشراء سيارتك هو المال.
									سواء كنت تدفع من مدخراتك أو تقترض المال من خلال مؤسسة مالية أو من خلال التاجر الخاص بك ، بمجرد إتمام الصفقة ، ستحتاج إلى أن تكون قادرًا على التحرك بسرعة.</p>
							</div>

							<div class="choose-inner-content">
								<div class="icon">
									<i class="flaticon-perfect"></i>
								</div>
								<h4>إذا كنت تقترض المال</h4>
								<p>يمكن أن يكون الحصول على قرض طريقة رائعة للحصول على سيارة أحلامك عاجلاً. ولكن عليك التأكد من قدرتك على إدارة عمليات السداد وأي تكاليف غير متوقعة. هذا هو الحال بشكل خاص إذا كانت سيارتك مستعملة ولا يغطيها الضمان.</p>
							</div>

							<div class="choose-inner-content">
								<div class="icon">
									<i class="flaticon-headache"></i>
								</div>
								<h4>هل بحثك مانع للماء؟</h4>
								<p>عندما يتعلق الأمر بمشتريات مهمة مثل السيارة ، فكلما زادت معرفتك كان ذلك أفضل. خذ وقتك في البحث عن مواقع السيارات الخاصة بالسيارات ، والتحدث إلى التجار أو خبراء السيارات الآخرين ، واقرأ مراجعات السيارات المستقلة على الويب أو في الصحف أو مجلات السيارات المتخصصة. يمكنك أيضًا التحقق مما إذا كانت الملحقات التي تريدها متوفرة مع السيارة التي تهتم بها أكثر.</p>
							</div>
						</div>
					</div>

					<div class="col-lg-5">
						<div class="choose-image">
							<img src="assets/images/choose/choose-1.jpeg" style="width:750px;height:450px" alt="image">

							<div class="image-box">
								<img src="assets/images/choose/choose-2.jpeg" style="width:300px;height:250px" alt="image">

								<a href="https://www.youtube.com/watch?v=K5hAnVPzfQc"
									class="video-btn popup-youtube"> <i class='bx bx-play'></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Choose Area -->

		<!-- Start Team Area -->
		<section class="team-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<h2>مستخدمون مميزون</h2>
					<div class="section-btn">
						<a th:href="@{/featured-users}" class="default-btn">مشاهدة الكل <span></span>
						</a>
					</div>
				</div>

				<div class="row">
					<th:block th:each="userDetails : ${users}">
					<div class="col-lg-3 col-md-6">
							<div class="single-team">
								<img th:src="@{${userDetails.user_photo}}" alt="image">

								<div class="team-content">
									<a th:href="@{/user-profile?id=}+${userDetails.id}" target="_blank">
										<h3 th:text="${userDetails.fullname}">...</h3>
									</a>
									<br>
									<span th:text="${userDetails.sellerTypeEntity.name}">...</span>

									<div class="share-link">
										<a th:href="@{${userDetails.socialEntity.facebook_link}}" target="_blank"><i class='bx bxl-facebook'></i></a>
										<a th:href="@{${userDetails.socialEntity.twitter_link}}" target="_blank"><i class='bx bx-camera'></i></a>
										<a th:href="@{${userDetails.socialEntity.twitter_link}}" target="_blank"><i class='bx bxl-twitter'></i></a>
									</div>
								</div>
							</div>
					</div>
					</th:block>
				</div>
			</div>
		</section>
		<!-- End Team Area -->

		<!-- Start Partner Area -->
		<div class="partner-area pb-100">
			<div class="container">
				<div class="partner-slides owl-carousel owl-theme">
					<div class="partner-item">
						<img src="assets/images/partner/partner-1.png" alt="image">
					</div>

					<div class="partner-item">
						<img src="assets/images/partner/partner-2.png" alt="image">
					</div>

					<div class="partner-item">
						<img src="assets/images/partner/partner-3.png" alt="image">
					</div>

					<div class="partner-item">
						<img src="assets/images/partner/partner-4.png" alt="image">
					</div>

					<div class="partner-item">
						<img src="assets/images/partner/partner-5.png" alt="image">
					</div>

					<div class="partner-item">
						<img src="assets/images/partner/partner-1.png" alt="image">
					</div>

					<div class="partner-item">
						<img src="assets/images/partner/partner-2.png" alt="image">
					</div>

					<div class="partner-item">
						<img src="assets/images/partner/partner-3.png" alt="image">
					</div>

					<div class="partner-item">
						<img src="assets/images/partner/partner-4.png" alt="image">
					</div>

					<div class="partner-item">
						<img src="assets/images/partner/partner-5.png" alt="image">
					</div>
				</div>
			</div>
		</div>
		<!-- End Partner Area -->

		<!-- Start Blog Area -->
		<section class="blog-area bg-ffffff pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<h2>مجلة عربي موتورز</h2>
					<p>تحقق من آخر الأخبار والمقالات من مدونتنا</p>

					<div class="section-btn">
						<a th:href="@{/magazine}" class="default-btn"> مشاهدة الكل <span></span>
						</a>
					</div>
				</div>
				<div class="row">
					<th:block th:each="blog : ${bloggers}">
						<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
							<div class="single-blog">
								<a th:href="@{/magazine?id=}+${blog.id}">
									<img th:src="${blog.image}" alt="image"></a>
								<div class="blog-content">
									<div class="tag" th:text="${blog.tag}">...</div>
									<h3>
										<a th:href="@{/magazine?id=}+${blog.id}" th:text="${blog.title}"></a>
									</h3>
									<ul class="post-meta">
										<li><i class="flaticon-user"></i><a th:text="${blog.authorName}" href="#">...</a>
										</li>
										<li th:text="${#dates.format(blog.createdDate,'aa HH:mm, yyyy/MM/dd')}"><i class="flaticon-calendar">
										</i> ...</li>
									</ul>
									<p th:text="${blog.content.substring(0,100)}">...</p>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</section>
		<!-- End Blog Area -->
	</div>
</body>
</html>
