<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front-end-template.html}">

<head>
    <title>ArabiMotor - Home</title>
</head>

<body>
<div layout:fragment="content">

<!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>مستخدمون مميزون</h2>

                            <ul class="pages-list">
                                <li><a th:href="@{/home}">الرئيسية</a></li>
                                <li><span>مستخدمون مميزون</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->

        <!-- Start Team Area -->
        <section class="team-area bg-color pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>مستخدمون مميزون</h2>
                    <p>تعرف على المستخدمين عربي موتورز المميزون لدينا</p>
                </div>

                <div class="row">
                    <th:block th:each="f_u : ${f_u}">
                        <div class="col-lg-3 col-md-6">
                            <div class="single-team">
                                <img th:src="@{${f_u.user_photo}}" alt="image">

                                <div class="team-content">
                                    <a th:href="@{/user-profile?id=}+${f_u.id}" target="_blank">
                                        <h3 th:text="${f_u.fullname}">...</h3>
                                    </a>
                                    <br>
                                    <span th:text="${f_u.sellerTypeEntity.name}">...</span>

                                    <div class="share-link">
                                        <a th:href="@{${f_u.socialEntity.facebook_link}}" target="_blank"><i class='bx bxl-facebook'></i></a>
                                        <a th:href="@{${f_u.socialEntity.twitter_link}}" target="_blank"><i class='bx bx-camera'></i></a>
                                        <a th:href="@{${f_u.socialEntity.twitter_link}}" target="_blank"><i class='bx bxl-twitter'></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </section>
        <!-- End Team Area -->
</div>
    </body>
</html>