<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front-end-template.html}">
<head>
    <title>ArabiMotor - Home</title>
</head>
<body>
<div layout:fragment="content">
        <!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>سياسة الخصوصية</h2>

                            <ul class="pages-list">
                                <li><a th:href="@{/home}">الرئيسية</a></li>
                                <li><span>سياسة الخصوصية</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->

        <!-- Start Privacy Policy Area -->
		<section class="privacy-policy-area ptb-100">
            <div class="container">
                <div class="privacy-policy-title">
                    <h2>سياسة الخصوصية</h2>
                </div>

                <div class="privacy-policy-box">
                    <div class="privacy-content">
                        <h3>نظرة عامة على سياسة جمع المعلومات</h3>
                        <p>
                            سياسة الخصوصية

                            لدينا بعض المبادئ الأساسية :
                            نحن، arabimotors.com لا نطلب منك معلومات شخصية إلا إذا كنا في حاجة إليها حقا.
                            لا نشارك معلوماتك الشخصية مع أحد إلا امتثالا للقانون، تطويرا لمنتجاتنا وخدماتنا، وتعزيزا لموقعنا على الانترنت أو حماية لحقوقنا.
                            لا نخزن المعلومات الشخصية على خوادمنا إلا إذا ما اقتضى تشغيل عملية جارية لاحدى خدماتنا ذلك.
                            زوار موقع
                            مثل معظم مشغلي المواقع، نقوم بجمع المعلومات غير المعرفة بالشخصية مثل تلك المتاحة عادة من قبل متصفحات الويب والخوادم مثل نوع المتصفح، تفضيل اللغة، الموقع الذي قام بالإحالة، تاريخ ووقت كل طلب للزائر. هدفنا في جمع المعلومات غير المعرفة بالشخصية هو فهم أفضل لكيفية استخدام الزوار لموقعنا على الانترنت. من وقت لآخر يقومarabimotors.comأيضا بجمع معلومات قد تكون معرفة للشخصية مثل عناوين بروتوكول الإنترنت (IP) لتسجيل دخول المستخدمين والمستخدمين الذي يتركون تعليقات على موقعنا.
                            جمع المعلومات المعرفة بالشخصية
                            يختار بعض زوار الموقع التفاعل مع موقعنا بطرق تتطلب منا جمع معلومات معرفة بالشخصية. كمية ونوع المعلومات التي نجمعها يعتمد على طبيعة التفاعل.
                            حماية بعض المعلومات المعرفة بالشخصية
                            نحن، arabimotors.com، لا نكشف المعلومات المعرفة بالشخصية إلا لموظفينا والمتعاقدين والمنظمات التابعين الذين
                            (i) يحتاجون إلى معرفة هذه المعلومات من أجل معالجتها نيابة عنا أو لتوفير خدمات متاحة على مواقعنا،
                            والذين (ii) وافقوا على عدم الكشف عنها لأطراف أخرى.
                            قد يقوم بعض هؤلاء الموظفين والمتعاقدين والمنظمات التابعة موجودين خارج بلدك الأم، باستخدام موقعنا، فإنك توافق على نقل هذه المعلومات لهم. لن نقوم بتأجير أو بيع معلومات يحتمل أن تكون معرفة بالشخصية لأي كان. بخلاف الموظفين والمتعاقدين والمنظمات التابعة، كما هو موضح أعلاه، نحن نفصح عن معلومات يحتمل أن تكون معرفة للشخصية ومعرفة للشخصية فقط استجابة لمذكرة إحضار أو لأمر المحكمة أو أي طلب حكومي آخر، أو عندما يعتقد بحسن نية أن كشفها ضروري بشكل معقول لحماية حقوق ملكيتنا، أو حماية أطراف ثالثة أو حماية العموم ككل.
                            إذا كنت مستخدما مسجلا وزودتنا بعنوان بريدك الإلكتروني، قد نرسل لك أحيانا رسالة الكترونية عن الميزات الجديدة، أو لاستطلاع ردود الفعل الخاصة بك أو فقط لإبقائك على علم بما يحدث مع شركتنا أو خدماتنا. نحن نستخدم بالأساس مختلف مدوناتنا لتبليغ مثل هذا النوع من المعلومات، لذلك نتوقع ابقاء هذا النوع من البريد الإلكتروني في أدنى حد ممكن. إن أرسلت لنا بطلب (على سبيل المثال عن طريق البريد الإلكتروني أو عن طريق احدى آليات استرجاع المعلومات)، نحن نحتفظ بحق نشرها من أجل مساعدتنا للتوضيح أو الرد على طلبك أو لمساعدتنا في دعم المستخدمين الآخرين. نحن مع اتخاذ جميع الإجراءات الضرورية بشكل معقول للحماية ضد الوصول غير المصرح به أو الاستخدام أو التعديل أو التدمير للمعلومات التي يحتمل أن تكون معرفة بالشخصية.
                            ملفات تعريف الارتباط
                            ملف تعريف الارتباط هو سلسلة من المعلومات التي يخزنها موقع على شبكة الانترنت على كمبيوتر الزائر والتي يقدمها متصفح الزائر للموقع في كل مرة يعود فيها الزائر. نحن نستخدم ملفات تعريف الارتباط لمساعدتنا على تحديد وتعقب الزوار، واستخدامهم لموقعنا على شبكة الإنترنت، وتفضيلاتهم للوصول إلى الموقع. زوارنا الذين لا يرغبون في الحصول على ملفات تعريف الارتباط على أجهزة الكمبيوتر الخاصة بهم عليهم إعداد متصفحاتهم لرفض ملفات تعريف الارتباط قبل استخدام موقعنا، والعيب في ذلك أن بعض مميزات مواقعنا قد لا تعمل بشكل صحيح من دون مساعدة ملفات تعريف الارتباط.
                            تغييرات سياسة الخصوصية
                            على الرغم من أنه من المرجح أن تكون معظم التغييرات طفيفة، قد نقوم بتغيير سياسة الخصوصية من وقت لآخر حسب تقديرنا. نحن نشجع الزوار على مراجعة هذه الصفحة بشكل متكرر للتأكد من أية تغييرات على سياسة الخصوصية. استخدامك المستمر لهذا الموقع بعد أي تغيير في سياسة الخصوصية سيشكل موافقتك على مثل هذا التغيير.

                        </p>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Privacy Policy Area -->
      </div>
    </body>
</html>